## Chicago Divvy Bicycle Sharing Data


### Goal:
- To predict the daily need of bikes for each divvy bike station

### Step 1. Data collection
- Collect chicago divvy bicycle sharing data from [website](https://www.divvybikes.com/system-data).
- 
Other data to be considered:
- crimes reports within a week
- weather 
- other transportation (bus, metra, cta and etc.)

In [1]:
import numpy as np
import pandas as pd
from multiprocessing import Pool, cpu_count
import gc
import time
gc.enable()

In [2]:
station_file = 'Divvy_Stations_2017_Q3Q4.csv'
trip_file = 'Divvy_Trips_2017_Q4.csv'
output_file = 'Divvy_data_2017_Q4.feather'

In [3]:
# Load data
s = time.time()

station = pd.read_csv(f'data/{station_file}')
print(f'station data loaded! {time.time()-s:.2f} seconds')

trip = pd.read_csv(f'data/{trip_file}')
print(f'trip data loaded! {time.time()-s:.2f} seconds')

station data loaded! 0.01 seconds
trip data loaded! 1.22 seconds

In [4]:
def parse_start_time(arg):
    """
    Function to parse `start_time` data into:
    - year
    - day
    - month
    - hour
    - minute
    - second
    - dayofweek
    """
    raw = pd.to_datetime(arg['start_time'])
    time_df = pd.DataFrame()
    time_df['trip_id'] = arg['trip_id']
    for t in ['year', 'day', 'month', 'hour', 'minute', 'second', 'dayofweek']:
        time_df[t] = raw.apply(lambda x: getattr(x, t))
    return time_df

In [5]:
# Process start_time data with mutiple processors
n_thread = cpu_count()
time_df_raw = trip[['trip_id', 'start_time']]
args = np.array_split(time_df_raw, n_thread)

with Pool(processes=n_thread) as p:
    result = p.map(parse_start_time, args)

time_df = pd.concat(list(result), ignore_index=True)

# Merge postprocessed data into main dataframe
trip = pd.merge(left=trip, right=time_df, on='trip_id', how='left')

print(f'start_time data processed! {time.time()-s:.2f} seconds')

start_time data processed! 25.35 seconds

In [6]:
# Convert birthyear into age of each customer
trip['Age'] = trip['year'] - trip['birthyear']

# Merge station data into trip data (start)
trip = (pd.merge(left=trip, right=station, left_on='from_station_id', right_on='id', how='left')
          .drop(['id', 'name', 'online_date'], axis=1)
          .rename(columns={'city': 'from_city', 
                           'latitude': 'from_latitude',
                           'longitude': 'from_longitude',
                           'dpcapacity': 'from_dpcapacity'})
    )

# Merge station data into trip data (end)
trip = (pd.merge(left=trip, right=station, left_on='to_station_id', right_on='id', how='left')
          .drop(['id', 'name', 'online_date'], axis=1)
          .rename(columns={'city': 'to_city', 
                           'latitude': 'to_latitude',
                           'longitude': 'to_longitude',
                           'dpcapacity': 'to_dpcapacity'})
    )

# Drop useless columns
trip = trip.drop(['start_time', 'end_time', 'birthyear'], axis=1)

print(f'data process done! {time.time()-s:.2f} seconds')

data process done! 27.20 seconds

In [7]:
# Saving to feather file
trip.to_feather(f'data/{output_file}')
print(f'Data saved to feather file! {time.time()-s:.2f} seconds')

Data saved to feather file! 32.13 seconds

In [8]:
trip

,trip_id,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,year,...,from_city,from_latitude,from_longitude,from_dpcapacity,Unnamed: 7_x,to_city,to_latitude,to_longitude,to_dpcapacity,Unnamed: 7_y
0,17536701,3304,284,159,Claremont Ave & Hirsch St,69,Damen Ave & Pierce Ave,Subscriber,Male,2017,...,Chicago,41.907781,-87.685854,11,NaN,Chicago,41.909396,-87.677692,19,NaN
1,17536700,5975,1402,145,Mies van der Rohe Way & Chestnut St,145,Mies van der Rohe Way & Chestnut St,Customer,NaN,2017,...,Chicago,41.898587,-87.621915,19,NaN,Chicago,41.898587,-87.621915,19,NaN
2,17536699,4906,1441,145,Mies van der Rohe Way & Chestnut St,145,Mies van der Rohe Way & Chestnut St,Customer,NaN,2017,...,Chicago,41.898587,-87.621915,19,NaN,Chicago,41.898587,-87.621915,19,NaN
3,17536698,5667,315,340,Clark St & Wrightwood Ave,143,Sedgwick St & Webster Ave,Subscriber,Male,2017,...,Chicago,41.929546,-87.643118,15,NaN,Chicago,41.922167,-87.638888,15,NaN
4,17536697,5353,272,240,Sheridan Rd & Irving Park Rd,245,Clarendon Ave & Junior Ter,Subscriber,Male,2017,...,Chicago,41.954245,-87.654406,27,NaN,Chicago,41.961004,-87.649603,23,NaN
5,17536696,5840,589,93,Sheffield Ave & Willow St,343,Racine Ave & Wrightwood Ave,Subscriber,Male,2017,...,Chicago,41.913688,-87.652855,15,NaN,Chicago,41.928887,-87.658971,15,NaN
6,17536695,6351,301,337,Clark St & Chicago Ave,182,Wells St & Elm St,Subscriber,Male,2017,...,Chicago,41.896544,-87.630931,19,NaN,Chicago,41.903222,-87.634324,23,NaN
7,17536694,2562,141,226,Racine Ave & Belmont Ave,117,Wilton Ave & Belmont Ave,Subscriber,Male,2017,...,Chicago,41.939743,-87.658865,15,NaN,Chicago,41.940180,-87.653040,23,NaN
8,17536693,2471,615,49,Dearborn St & Monroe St,26,McClurg Ct & Illinois St,Subscriber,Male,2017,...,Chicago,41.881320,-87.629521,39,NaN,Chicago,41.890359,-87.617532,31,NaN
9,17536692,6462,743,196,Cityfront Plaza Dr & Pioneer Ct,255,Indiana Ave & Roosevelt Rd,Subscriber,Male,2017,...,Chicago,41.890573,-87.622072,23,NaN,Chicago,41.867888,-87.623041,39,NaN
10,17536691,3775,216,59,Wabash Ave & Roosevelt Rd,72,Wabash Ave & 16th St,Subscriber,Male,2017,...,Chicago,41.867227,-87.625961,23,NaN,Chicago,41.860384,-87.625813,39,NaN
11,17536690,3663,202,59,Wabash Ave & Roosevelt Rd,72,Wabash Ave & 16th St,Subscriber,Female,2017,...,Chicago,41.867227,-87.625961,23,NaN,Chicago,41.860384,-87.625813,39,NaN
12,17536689,6456,420,475,Washtenaw Ave & Lawrence Ave,242,Damen Ave & Leland Ave,Subscriber,Male,2017,...,Chicago,41.968987,-87.696027,15,NaN,Chicago,41.967094,-87.679028,15,NaN
13,17536688,5529,397,67,Sheffield Ave & Fullerton Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,2017,...,Chicago,41.925602,-87.653708,19,NaN,Chicago,41.928830,-87.668507,15,NaN
14,17536687,3536,137,123,California Ave & Milwaukee Ave,259,California Ave & Francis Pl,Subscriber,Male,2017,...,Chicago,41.922695,-87.697153,15,NaN,Chicago,41.918121,-87.696972,15,NaN
15,17536686,3644,677,523,Eastlake Ter & Rogers Ave,447,Glenwood Ave & Morse Ave,Subscriber,Male,2017,...,Chicago,42.021019,-87.665086,15,NaN,Chicago,42.007972,-87.665502,15,NaN
16,17536685,2928,1200,196,Cityfront Plaza Dr & Pioneer Ct,626,Delano Ct & Roosevelt Rd,Subscriber,Male,2017,...,Chicago,41.890573,-87.622072,23,NaN,Chicago,41.867491,-87.632190,19,NaN
17,17536684,5889,399,293,Broadway & Wilson Ave,245,Clarendon Ave & Junior Ter,Subscriber,Male,2017,...,Chicago,41.965221,-87.658139,15,NaN,Chicago,41.961004,-87.649603,23,NaN
18,17536683,5960,845,510,Spaulding Ave & Division St,260,Kedzie Ave & Milwaukee Ave,Subscriber,Male,2017,...,Chicago,41.902707,-87.709220,15,NaN,Chicago,41.929567,-87.707857,27,NaN
19,17536680,3079,86,304,Broadway & Waveland Ave,232,Pine Grove Ave & Waveland Ave,Subscriber,Male,2017,...,Chicago,41.949074,-87.648636,15,NaN,Chicago,41.949275,-87.646303,23,NaN
20,17536675,1619,263,149,Calumet Ave & 33rd St,148,State St & 33rd St,Subscriber,Male,2017,...,Chicago,41.834900,-87.617930,11,NaN,Chicago,41.834734,-87.625813,15,NaN
21,17536672,5926,327,123,California Ave & Milwaukee Ave,290,Kedzie Ave & Palmer Ct,Subscriber,Male,2017,...,Chicago,41.922695,-87.697153,15,NaN,Chicago,41.921525,-87.707322,15,NaN
22,17536671,2928,969,211,St. Clair St & Erie St,196,Cityfront Plaza Dr & Pioneer Ct,Subscriber,Male,2017,...,Chicago,41.894448,-87.622663,19,NaN,Chicago,41.890573,-87.622072,23,NaN
23,17536653,3783,339,320,Loomis St & Lexington St,22,May St & Taylor St,Subscriber,Male,2017,...,Chicago,41.872187,-87.661501,19,NaN,Chicago,41.869482,-87.655486,15,NaN
24,17536647,4581,393,26,McClurg Ct & Illinois St,7,Field Blvd & South Water St,Subscriber,Male,2017,...,Chicago,41.890359,-87.617532,31,NaN,Chicago,41.886349,-87.617517,19,NaN
25,17536645,5667,303,143,Sedgwick St & Webster Ave,340,Clark St & Wrightwood Ave,Subscriber,Male,2017,...,Chicago,41.922167,-87.638888,15,NaN,Chicago,41.929546,-87.643118,15,NaN
26,17536644,3696,318,124,Damen Ave & Cullerton St,129,Blue Island Ave & 18th St,Subscriber,Male,2017,...,Chicago,41.855048,-87.675726,15,NaN,Chicago,41.857556,-87.661535,15,NaN
27,17536643,6189,2489,176,Clark St & Elm St,37,Dearborn St & Adams St,Customer,NaN,2017,...,Chicago,41.902973,-87.631280,27,NaN,Chicago,41.879356,-87.629791,19,NaN
28,17536642,3777,121,91,Clinton St & Washington Blvd,66,Clinton St & Lake St,Subscriber,Male,2017,...,Chicago,41.883380,-87.641170,31,NaN,Chicago,41.885637,-87.641823,23,NaN
29,17536641,2928,1662,46,Wells St & Walton St,211,St. Clair St & Erie St,Subscriber,Male,2017,...,Chicago,41.899930,-87.634430,19,NaN,Chicago,41.894448,-87.622663,19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669209,16734096,1770,750,226,Racine Ave & Belmont Ave,329,Lake Shore Dr & Diversey Pkwy,Subscriber,Male,2017,...,Chicago,41.939743,-87.658865,15,NaN,Chicago,41.932684,-87.636250,15,NaN
669210,16734095,2919,371,77,Clinton St & Madison St,21,Aberdeen St & Jackson Blvd,Subscriber,Male,2017,...,Chicago,41.882242,-87.641066,31,NaN,Chicago,41.877726,-87.654787,15,NaN
669211,16734094,2140,481,109,900 W Harrison St,19,Loomis St & Taylor St (*),Subscriber,Male,2017,...,Chicago,41.874754,-87.649807,19,NaN,Chicago,41.869417,-87.660996,16,NaN
669212,16734093,4146,499,109,900 W Harrison St,136,Racine Ave & 13th St,Subscriber,Female,2017,...,Chicago,41.874754,-87.649807,19,NaN,Chicago,41.865054,-87.656959,15,NaN
669213,16734092,3214,1149,153,Southport Ave & Wellington Ave,138,Clybourn Ave & Division St,Subscriber,Male,2017,...,Chicago,41.935733,-87.663576,19,NaN,Chicago,41.904613,-87.640552,15,NaN
669214,16734091,6037,1172,153,Southport Ave & Wellington Ave,138,Clybourn Ave & Division St,Subscriber,Female,2017,...,Chicago,41.935733,-87.663576,19,NaN,Chicago,41.904613,-87.640552,15,NaN
669215,16734090,5027,335,87,Racine Ave & Fullerton Ave,144,Larrabee St & Webster Ave,Subscriber,Male,2017,...,Chicago,41.925563,-87.658404,19,NaN,Chicago,41.921822,-87.644140,19,NaN
669216,16734089,3017,350,87,Racine Ave & Fullerton Ave,144,Larrabee St & Webster Ave,Subscriber,Male,2017,...,Chicago,41.925563,-87.658404,19,NaN,Chicago,41.921822,-87.644140,19,NaN
669217,16734088,2970,1291,488,Pulaski Rd & Eddy St,488,Pulaski Rd & Eddy St,Subscriber,Female,2017,...,Chicago,41.945636,-87.727737,11,NaN,Chicago,41.945636,-87.727737,11,NaN
669218,16734087,6184,1291,488,Pulaski Rd & Eddy St,488,Pulaski Rd & Eddy St,Subscriber,Male,2017,...,Chicago,41.945636,-87.727737,11,NaN,Chicago,41.945636,-87.727737,11,NaN
669219,16734086,3450,1325,47,State St & Kinzie St,236,Sedgwick St & Schiller St,Subscriber,Male,2017,...,Chicago,41.889187,-87.627754,31,NaN,Chicago,41.905664,-87.638517,15,NaN
669220,16734084,436,333,62,McCormick Place,273,Michigan Ave & 18th St,Subscriber,Female,2017,...,Chicago,41.851375,-87.618835,27,NaN,Chicago,41.857813,-87.624550,23,NaN
669221,16734083,5619,910,62,McCormick Place,273,Michigan Ave & 18th St,Subscriber,Male,2017,...,Chicago,41.851375,-87.618835,27,NaN,Chicago,41.857813,-87.624550,23,NaN
669222,16734082,4869,223,296,Broadway & Belmont Ave,332,Halsted St & Diversey Pkwy,Subscriber,Male,2017,...,Chicago,41.940106,-87.645451,19,NaN,Chicago,41.933666,-87.648959,19,NaN
669223,16734081,3216,1002,229,Southport Ave & Roscoe St,144,Larrabee St & Webster Ave,Subscriber,Male,2017,...,Chicago,41.943739,-87.664020,19,NaN,Chicago,41.921822,-87.644140,19,NaN
669224,16734080,2900,443,291,Wells St & Evergreen Ave,60,Dayton St & North Ave,Subscriber,Male,2017,...,Chicago,41.906724,-87.634830,19,NaN,Chicago,41.910578,-87.649422,19,NaN
669225,16734079,4122,1015,229,Southport Ave & Roscoe St,144,Larrabee St & Webster Ave,Customer,NaN,2017,...,Chicago,41.943739,-87.664020,19,NaN,Chicago,41.921822,-87.644140,19,NaN
669226,16734078,5998,551,264,Stetson Ave & South Water St,321,Wabash Ave & 9th St,Subscriber,Male,2017,...,Chicago,41.886835,-87.622320,19,NaN,Chicago,41.870769,-87.625734,19,NaN
669227,16734077,2773,419,463,Clark St & Berwyn Ave,344,Ravenswood Ave & Lawrence Ave,Subscriber,Male,2017,...,Chicago,41.977997,-87.668047,19,NaN,Chicago,41.969090,-87.674237,39,NaN
669228,16734076,5390,772,239,Western Ave & Leland Ave,295,Broadway & Argyle St,Subscriber,Male,2017,...,Chicago,41.966555,-87.688487,19,NaN,Chicago,41.973815,-87.659660,15,NaN
669229,16734075,2728,360,229,Southport Ave & Roscoe St,330,Lincoln Ave & Addison St,Subscriber,Male,2017,...,Chicago,41.943739,-87.664020,19,NaN,Chicago,41.946176,-87.673308,19,NaN
669230,16734074,6085,2002,71,Morgan St & Lake St,61,Wood St & Milwaukee Ave,Subscriber,Male,2017,...,Chicago,41.885483,-87.652305,23,NaN,Chicago,41.907655,-87.672552,19,NaN
669231,16734073,1581,585,245,Clarendon Ave & Junior Ter,303,Broadway & Cornelia Ave,Subscriber,Male,2017,...,Chicago,41.961004,-87.649603,23,NaN,Chicago,41.945529,-87.646439,23,NaN
669232,16734072,3866,664,220,Hampden Ct & Diversey Pkwy,87,Racine Ave & Fullerton Ave,Subscriber,Female,2017,...,Chicago,41.932620,-87.642385,23,NaN,Chicago,41.925563,-87.658404,19,NaN
669233,16734071,88,662,220,Hampden Ct & Diversey Pkwy,87,Racine Ave & Fullerton Ave,Subscriber,Male,2017,...,Chicago,41.932620,-87.642385,23,NaN,Chicago,41.925563,-87.658404,19,NaN
669234,16734070,1099,837,289,Wells St & Concord Ln,226,Racine Ave & Belmont Ave,Subscriber,Male,2017,...,Chicago,41.912133,-87.634656,19,NaN,Chicago,41.939743,-87.658865,15,NaN
669235,16734069,3688,366,45,Michigan Ave & Congress Pkwy,52,Michigan Ave & Lake St,Customer,NaN,2017,...,Chicago,41.876243,-87.624426,15,NaN,Chicago,41.886024,-87.624117,31,NaN
669236,16734068,1416,264,520,Greenview Ave & Jarvis Ave,447,Glenwood Ave & Morse Ave,Customer,NaN,2017,...,Chicago,42.015962,-87.668570,23,NaN,Chicago,42.007972,-87.665502,15,NaN
669237,16734067,5396,361,288,Larrabee St & Armitage Ave,289,Wells St & Concord Ln,Subscriber,Female,2017,...,Chicago,41.918084,-87.643749,11,NaN,Chicago,41.912133,-87.634656,19,NaN
669238,16734066,5802,741,135,Halsted St & 21st St,129,Blue Island Ave & 18th St,Subscriber,Female,2017,...,Chicago,41.853780,-87.646650,11,NaN,Chicago,41.857556,-87.661535,15,NaN

In [9]:
trip.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669239 entries, 0 to 669238
Data columns (total 27 columns):
trip_id              669239 non-null int64
bikeid               669239 non-null int64
tripduration         669239 non-null int64
from_station_id      669239 non-null int64
from_station_name    669239 non-null object
to_station_id        669239 non-null int64
to_station_name      669239 non-null object
usertype             669239 non-null object
gender               590659 non-null object
year                 669239 non-null int64
day                  669239 non-null int64
month                669239 non-null int64
hour                 669239 non-null int64
minute               669239 non-null int64
second               669239 non-null int64
dayofweek            669239 non-null int64
Age                  590412 non-null float64
from_city            669239 non-null object
from_latitude        669239 non-null float64
from_longitude       669239 non-null float64
from_dpcapacity      669239 non-null int64
Unnamed: 7_x         0 non-null float64
to_city              669239 non-null object
to_latitude          669239 non-null float64
to_longitude         669239 non-null float64
to_dpcapacity        669239 non-null int64
Unnamed: 7_y         0 non-null float64
dtypes: float64(7), int64(14), object(6)
memory usage: 143.0+ MB

In [11]:
trip[['year', 'month', 'day', 'hour']]

        year  month  day  hour
0       2017     12   31    23
1       2017     12   31    23
2       2017     12   31    23
3       2017     12   31    23
4       2017     12   31    23
5       2017     12   31    23
6       2017     12   31    23
7       2017     12   31    23
8       2017     12   31    23
9       2017     12   31    22
10      2017     12   31    22
11      2017     12   31    22
12      2017     12   31    22
13      2017     12   31    22
14      2017     12   31    22
15      2017     12   31    22
16      2017     12   31    22
17      2017     12   31    22
18      2017     12   31    21
19      2017     12   31    21
20      2017     12   31    21
21      2017     12   31    21
22      2017     12   31    21
23      2017     12   31    21
24      2017     12   31    21
25      2017     12   31    21
26      2017     12   31    21
27      2017     12   31    21
28      2017     12   31    21
29      2017     12   31    21
...      ...    ...  ...   ...
669209  2017     10    1     0
669210  2017     10    1     0
669211  2017     10    1     0
669212  2017     10    1     0
669213  2017     10    1     0
669214  2017     10    1     0
669215  2017     10    1     0
669216  2017     10    1     0
669217  2017     10    1     0
669218  2017     10    1     0
669219  2017     10    1     0
669220  2017     10    1     0
669221  2017     10    1     0
669222  2017     10    1     0
669223  2017     10    1     0
669224  2017     10    1     0
669225  2017     10    1     0
669226  2017     10    1     0
669227  2017     10    1     0
669228  2017     10    1     0
669229  2017     10    1     0
669230  2017     10    1     0
669231  2017     10    1     0
669232  2017     10    1     0
669233  2017     10    1     0
669234  2017     10    1     0
669235  2017     10    1     0
669236  2017     10    1     0
669237  2017     10    1     0
669238  2017     10    1     0

[669239 rows x 4 columns]

In [12]:
24*90

2160

In [13]:
700000/2160

324.0740740740741