In [133]:
import requests, json, os
import psycopg2
from datetime import datetime
from dateutil import tz
import pandas as pd

In [134]:
requests.__version__

'2.22.0'

In [135]:
pd.__version__

'0.24.2'

# Make Connection to Google cloud function

In [136]:
import urllib.request

In [140]:
QUERY_FUNC = 'https://us-central1-divvy-bike-shari-1562130131708.cloudfunctions.net/query_from_divvy_cloudsql'

In [257]:
%%time
reslst = requests.post(QUERY_FUNC, json={'stationid': '35, 192'}).content.decode('utf-8')

CPU times: user 40.7 ms, sys: 59.4 ms, total: 100 ms
Wall time: 599 ms

In [258]:
def to_dataframe(raw):
    lst_of_lst = [v.split(',') for v in raw.split('\n')]
    df = pd.DataFrame(lst_of_lst, columns=['timestamp', 'stationid', 'bikes_avail', 'docks_avail'])
    return df

In [259]:
reslst = requests.post(QUERY_FUNC, json={'stationid': '35,192,100,2'}).content.decode('utf-8')

In [260]:
df = to_dataframe(reslst)

In [261]:
df.shape

(5638, 4)

In [262]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5638 entries, 0 to 5637
Data columns (total 4 columns):
timestamp      5638 non-null object
stationid      5638 non-null object
bikes_avail    5638 non-null object
docks_avail    5638 non-null object
dtypes: object(4)
memory usage: 176.3+ KB

In [394]:
tmp = df[df.stationid == '35'].copy()

In [395]:
tmp['timeindex'] = pd.to_datetime(df['timestamp']).dt.tz_localize('utc').dt.tz_convert('US/Central')
tmp['month'] = tmp.timeindex.apply(lambda x: x.month)
tmp['day'] = tmp.timeindex.apply(lambda x: x.day)
tmp['hour'] = tmp.timeindex.apply(lambda x: x.hour)

In [396]:
tmp.bikes_avail = tmp.bikes_avail.astype('int')
tmp.docks_avail = tmp.docks_avail.astype('int')

In [397]:
min_df = tmp.groupby(['month', 'day', 'hour'])[['timeindex', 'bikes_avail', 'docks_avail']].min()\
        .reset_index().rename(columns={"bikes_avail": "min_bikes", "docks_avail": "min_docks"})

In [398]:
max_df = tmp.groupby(['month', 'day', 'hour'])[['bikes_avail', 'docks_avail']].max()\
        .reset_index().rename(columns={"bikes_avail": "max_bikes", "docks_avail": "max_docks"})

In [399]:
ave_df = tmp.groupby(['month', 'day', 'hour'])[['bikes_avail', 'docks_avail']].mean()\
        .reset_index().rename(columns={"bikes_avail": "ave_bikes", "docks_avail": "ave_docks"})

In [400]:
min_df.merge(max_df, on=['month', 'day', 'hour']).merge(ave_df, on=['month', 'day', 'hour'])

,month,day,hour,timeindex,min_bikes,min_docks,max_bikes,max_docks,ave_bikes,ave_docks
0,8,8,18,2019-08-08 18:04:37.221301-05:00,11,19,24,33,17.250000,26.500000
1,8,8,19,2019-08-08 19:00:00.747401-05:00,0,24,20,44,8.583333,35.416667
2,8,8,20,2019-08-08 20:00:01.058098-05:00,0,35,9,44,3.333333,40.583333
3,8,8,21,2019-08-08 21:00:01.128349-05:00,8,30,14,36,9.833333,34.166667
4,8,8,22,2019-08-08 22:00:01.232417-05:00,6,29,15,38,10.416667,33.583333
5,8,8,23,2019-08-08 23:00:01.174269-05:00,7,35,9,37,8.833333,35.166667
6,8,9,0,2019-08-09 00:00:00.864880-05:00,9,32,12,35,9.750000,34.250000
7,8,9,1,2019-08-09 01:00:01.159534-05:00,12,32,12,32,12.000000,32.000000
8,8,9,2,2019-08-09 02:00:00.216699-05:00,12,32,12,32,12.000000,32.000000
9,8,9,3,2019-08-09 03:00:00.537010-05:00,12,32,12,32,12.000000,32.000000
10,8,9,4,2019-08-09 04:00:01.168091-05:00,12,31,13,32,12.583333,31.416667
11,8,9,5,2019-08-09 05:00:01.050677-05:00,13,30,14,31,13.583333,30.416667
12,8,9,6,2019-08-09 06:00:00.980749-05:00,13,30,14,31,13.250000,30.750000
13,8,9,7,2019-08-09 07:00:00.958622-05:00,14,25,19,30,16.333333,27.666667
14,8,9,8,2019-08-09 08:00:00.183385-05:00,9,24,20,35,16.083333,27.916667
15,8,9,9,2019-08-09 09:00:00.863623-05:00,0,32,12,44,5.750000,38.250000
16,8,9,10,2019-08-09 10:00:00.695198-05:00,2,24,20,42,9.000000,34.833333
17,8,9,11,2019-08-09 11:00:00.452066-05:00,28,1,43,16,36.750000,6.916667
18,8,9,12,2019-08-09 12:00:00.477281-05:00,17,14,30,27,25.166667,18.750000
19,8,9,13,2019-08-09 13:00:00.488800-05:00,30,1,43,14,37.083333,6.833333
20,8,9,14,2019-08-09 14:00:01.028346-05:00,11,9,35,33,24.833333,19.166667
21,8,9,15,2019-08-09 15:00:00.945026-05:00,39,1,44,6,41.416667,3.416667
22,8,9,16,2019-08-09 16:00:00.873166-05:00,40,0,44,4,42.000000,1.916667
23,8,9,17,2019-08-09 17:00:00.740765-05:00,27,0,43,17,36.166667,7.583333
24,8,9,18,2019-08-09 18:00:00.886284-05:00,39,0,43,4,41.083333,1.833333
25,8,9,19,2019-08-09 19:00:00.997393-05:00,27,1,41,15,32.250000,9.916667
26,8,9,20,2019-08-09 20:00:01.017946-05:00,27,10,33,16,30.083333,12.916667
27,8,9,21,2019-08-09 21:00:01.206575-05:00,14,11,32,32,22.000000,23.500000
28,8,9,22,2019-08-09 22:00:01.112538-05:00,0,25,14,46,7.500000,37.500000
29,8,9,23,2019-08-09 23:00:00.446616-05:00,0,34,12,46,6.833333,39.166667
...,...,...,...,...,...,...,...,...,...,...
88,8,12,10,2019-08-12 10:00:00.762469-05:00,8,30,15,37,12.166667,32.833333
89,8,12,11,2019-08-12 11:00:00.687754-05:00,21,11,36,26,27.583333,19.333333
90,8,12,12,2019-08-12 12:00:01.225177-05:00,37,1,46,10,42.250000,4.750000
91,8,12,13,2019-08-12 13:00:01.563549-05:00,42,0,47,5,45.333333,1.500000
92,8,12,14,2019-08-12 14:00:00.675624-05:00,42,1,46,5,44.250000,2.750000
93,8,12,15,2019-08-12 15:00:01.165050-05:00,36,0,46,10,43.166667,3.000000
94,8,12,16,2019-08-12 16:00:01.363911-05:00,23,13,33,23,29.000000,17.000000
95,8,12,17,2019-08-12 17:00:06.980772-05:00,11,31,15,35,13.583333,32.416667
96,8,12,18,2019-08-12 18:00:01.183308-05:00,12,24,22,34,18.666667,27.333333
97,8,12,19,2019-08-12 19:00:00.454120-05:00,16,22,24,30,21.166667,24.750000
98,8,12,20,2019-08-12 20:00:01.298750-05:00,25,21,25,21,25.000000,21.000000
99,8,12,21,2019-08-12 21:00:01.331341-05:00,25,21,25,21,25.000000,21.000000
100,8,12,22,2019-08-12 22:00:00.903581-05:00,25,21,25,21,25.000000,21.000000
101,8,12,23,2019-08-12 23:00:00.590453-05:00,25,21,25,21,25.000000,21.000000
102,8,13,0,2019-08-13 00:00:00.791321-05:00,25,21,25,21,25.000000,21.000000
103,8,13,1,2019-08-13 01:00:01.124410-05:00,25,21,25,21,25.000000,21.000000
104,8,13,2,2019-08-13 02:00:01.016931-05:00,25,21,25,21,25.000000,21.000000
105,8,13,3,2019-08-13 03:00:00.564152-05:00,25,21,25,21,25.000000,21.000000
106,8,13,4,2019-08-13 04:00:00.709457-05:00,25,21,25,21,25.000000,21.000000
107,8,13,5,2019-08-13 05:00:00.608344-05:00,25,21,25,21,25.000000,21.000000
108,8,13,6,2019-08-13 06:00:00.619351-05:00,25,20,26,21,25.083333,20.916667
109,8,13,7,2019-08-13 07:00:01.033974-05:00,24,19,27,22,26.250000,19.750000
110,8,13,8,2019-08-13 08:00:00.705663-05:00,23,20,26,23,24.416667,21.583333
111,8,13,9,2019-08-13 09:00:00.441501-05:00,19,21,25,26,21.916667,24.000000
112,8,13,10,2019-08-13 10:00:00.950241-05:00,19,18,28,27,21.500000,24.500000
113,8,13,11,2019-08-13 11:00:01.307686-05:00,17,13,33,30,24.500000,22.083333
114,8,13,12,2019-08-13 12:00:00.471618-05:00,31,0,45,16,39.500000,6.416667
115,8,13,13,2019-08-13 13:00:00.445001-05:00,14,3,42,33,27.250000,18.666667
116,8,13,14,2019-08-13 14:00:01.357103-05:00,18,16,30,28,24.000000,21.750000
117,8,13,15,2019-08-13 15:00:01.264158-05:00,21,10,36,25,28.200000,17.600000

In [232]:
# df.bikes_avail.rolling(12).min()

# Visualize data

In [151]:
import plotly
from plotly.offline import iplot, plot

In [152]:
plotly.__version__

'3.10.0'

# Query Live Station Status (Up to now)

In [237]:
DIVVY_STATION_URL = 'https://gbfs.divvybikes.com/gbfs/en/station_information.json'

In [254]:
res = requests.get(DIVVY_STATION_URL)
jsonres = res.json()

station_json = json.dumps(jsonres['data']['stations'])
station_status_df = pd.read_json(station_json)

In [255]:
cleaned_stationdata = station_status_df[['capacity', 'lat', 'lon', 'station_id', 'name', 'short_name']]
cleaned_stationdata.to_csv('station.csv')

In [256]:
cleaned_stationdata.head(5)

,capacity,lat,lon,station_id,name,short_name
0,39,41.869430,-87.622391,2,Buckingham Fountain (Temp),T316041805
1,55,41.867226,-87.615355,3,Shedd Aquarium,LF-001
2,23,41.856268,-87.613348,4,Burnham Harbor,KA1504000163
3,23,41.874053,-87.627716,5,State St & Harrison St,TA1305000036
4,39,41.886976,-87.612813,6,Dusable Harbor,KA1503000064

# Make Connection to postgres

## Initialize connection

In [41]:
gcp_sql_username = os.environ.get('gcp_sql_username')
gcp_sql_password = os.environ.get('gcp_sql_password')

conn = psycopg2.connect(user=gcp_sql_username, password=gcp_sql_password,
                        host='localhost', port='5432')

## Query data

In [42]:
%%time
DISPLAY_ROWS = 10000

cur = conn.cursor()
cur.execute('SELECT * FROM divvylivedata WHERE stationid = %s;' %('192'))
print("Total rows: {}\nDisplayed rows: {}\n".format(cur.rowcount, DISPLAY_ROWS))

row_counter = 1
row = cur.fetchone()
while row is not None and row_counter <= DISPLAY_ROWS:
#     print(','.join([str(v) for v in row]))
    row = cur.fetchone()
    row_counter += 1
print(row_counter)
cur.close()

Total rows: 296
Displayed rows: 10000

297
CPU times: user 3.53 ms, sys: 3.01 ms, total: 6.55 ms
Wall time: 232 ms

### Convert unix timestamps into timestamps and consider timezone

In [165]:
utc_timestamp = datetime.utcfromtimestamp(1565246835).strftime('%Y-%m-%d %H:%M:%S')
print(utc_timestamp)

2019-08-08 06:47:15

In [167]:
# METHOD 1: Hardcode zones:
from_zone = tz.gettz('UTC')
to_zone = tz.gettz('America/Chicago')

# # METHOD 2: Auto-detect zones:
# from_zone = tz.tzutc()
# to_zone = tz.tzlocal()

# utc = datetime.utcnow()

utc = datetime.strptime(utc_timestamp, '%Y-%m-%d %H:%M:%S')

# Tell the datetime object that it's in UTC time zone since 
# datetime objects are 'naive' by default
utc = utc.replace(tzinfo=from_zone)

# Convert time zone
central = utc.astimezone(to_zone)

print("Local time in Chicago: ", central)

Local time in Chicago:  2019-08-08 01:47:15-05:00

## Close connection

In [50]:
if conn:
    conn.close()